[Clipboard]
# 将剪贴板历史保存为文件
# Available Value:
# True False
SaveHistoryToFile=False
# 剪切板历史长度
#HistoryLength=5
# 每个候选词最大长度
#CandidateMaxLength=43
# 剪贴板历史快捷键
#TriggerKey=CTRL_;
# 使用选区文字
# Available Value:
# True False
#UsePrimary=True
# 选词修饰键
# Available Value:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# 忽略空白的剪贴板内容
# Available Value:
# True False
#IgnoreBlank=True

