#----[ ignore all ] -----
*
#---[ consider list ]---
!*.[Xx]resources
!*.conf
!*.sh
!*rc
!.aria2/
!.config
!.config/*
!**/*conf*/**/*.json
!.config/**/*rc
!.config/**/*conf*
#---[ ignore list ]---
.config/shadowsocks
.config/v2ray
.config/qv2ray
.config/BaiduPCS-Go
.muttrc
.msmtprc
