[user]
	email = guyueshui002@gmail.com
	name = guyueshui
[color]
	ui = auto
[alias]
	graph = log --graph --oneline --decorate=short
[merge]
	tool = vscode
[mergetool "code"]
	path = /usr/bin/code
[difftool "code"]
	cmd = "code --diff  "
	path = /usr/bin/code
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
[gui]
	fontui = -family 文泉驿正黑 -size 16 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Monaco -size 16 -weight normal -slant roman -underline 0 -overstrike 0
	tabsize = 4
