#----[ ignore all ] -----
*
#---[ consider list ]---
!*.[Xx]resources
!*.conf
!*.sh
!*rc
!.aria2/
!.config
!.config/*
!**/*conf*/**/*.json
!.config/**/*rc
!.config/**/*conf*
!.config/kitty
!bin
#---[ ignore list ]---
.config/shadowsocks
.config/v2ray
.config/qv2ray
.config/BaiduPCS-Go
.config/Kingsoft
.config/QtProject
.config/QtProject.conf
.config/AlienCowEatCake
.config/Foxit Software
.config/Code Industry
.config/Simplenote
.config/obsidian
.config/gpicview
.config/deadbeef
.config/libfm
.config/nomacs
.config/viewnior
.config/lxqt
.config/htop
.config/vlc/vlc-qt-interface.conf
.muttrc
.msmtprc
