<?xml version="1.0"?>
<DHCPServer networkName="NatNetwork" trunkType="whatever" IPAddress="10.0.2.3" lowerIP="10.0.2.4" upperIP="10.0.2.254" leasesFilename="/home/yychi/.config/VirtualBox/NatNetwork-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
    <Option name="3" encoding="0" value="10.0.2.1"/>
    <Option name="6" encoding="0" value="192.168.1.1 192.168.0.1"/>
  </Options>
</DHCPServer>
